<a routerLink="/solicitation" class="btn btn-link pull-right">voltar</a>
<h2>Solicitação</h2>
<div class="my-5">
    <h3>Paciente</h3>
    <hr>
    <div class="row">
        <div class="col-6">
            Nome: {{solicitation.patient.name}}
        </div>
        <div class="col-3">
            Idade: {{solicitation.patient.age}}
        </div>
        <div class="col-3">
            Sexo: {{solicitation.patient.sex==0?'M':'F'}}
        </div>
    </div>
</div>
<div class="my-5">
    <h3>Procedimento</h3>
    <hr>
    <div class="row">
        <div class="col-12">
            Codigo do procediemnto: {{solicitation.procedure.cod}}
        </div>
    </div>
</div>
<div class="my-5">
    <h3>Resultado da autorização</h3>
    <hr>
    <div class="row">
        <div class="col-12 text-success" *ngIf="solicitation.result">
            <svg class="bi bi-check-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd"
                    d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
                    clip-rule="evenodd" />
            </svg>
            O ultimo parecer defere a autorização do procedimento.
        </div>
        <div class="col-12 text-danger" *ngIf="!solicitation.result">
            <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd"
                    d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                    clip-rule="evenodd" />
            </svg>
            O ultimo parecer indefere a autorização do procedimento.
        </div>
    </div>
</div>
<form [formGroup]="solicitaionForm" (ngSubmit)="onSubmit()">
    <div class="my-5">
        <h3>Parecer Técnico</h3>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Autor</th>
                            <th>Permetido</th>
                            <th>Descrição</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let advice of solicitation.technical_advice">
                            <td>{{advice.agent}}</td>
                            <td>{{advice.opinion.allowed?'Sim':'Não'}}</td>
                            <td>{{advice.opinion.description}}</td>
                            <td>{{advice.opinion.date| date:'dd/MM/yy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="my-5" *ngIf="!addAdvice">
        <button class="btn btn-primary pull-right" (click)="addAdvice=true">
            Adicionar parecer
        </button>
    </div>
    <div class="my-5 card p-3" *ngIf="addAdvice">
        <a class="nav-item nav-link pull-right" (click)="addAdvice=false">X</a>
        <h3>Novo Parecer</h3>
        <div class="form-group">
            <label for="firstName">Autor</label>
            <input type="text" formControlName="agent" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.agent.errors }" placeholder="Nome do autor do parecer" />
            <div *ngIf="submitted && f.agent.errors" class="invalid-feedback">
                <div *ngIf="f.agent.errors.required">Campo Autor é obrigatório</div>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName">Permitido?</label>
            <!-- <input type="text" formControlName="allowed" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.allowed.errors }" /> -->
            <select formControlName="allowed" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.allowed.errors }">
                <option value='false'>Não</option>
                <option value='true'>Sim</option>
            </select>
            <div *ngIf="submitted && f.allowed.errors" class="invalid-feedback">
                <div *ngIf="f.allowed.errors.required">Campo Permitido é obrigatório</div>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName">Descrição</label>
            <textarea formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                placeholder="Descrição sobre a avaliação do parecer"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Campo Descrição é obrigatório</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Salvar
            </button>
        </div>
    </div>
</form>