<h2>Cadastro</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">O campo nome é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">O campo email é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" formControlName="cpf" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }" />
        <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
            <div *ngIf="f.cpf.errors.required">O campo CPF é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">O campo senha é obrigatório</div>
            <div *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Cadastrar
        </button>
        <a routerLink="/login" class="btn btn-link">Voltar</a>
    </div>
</form>